@import 'rem.styl'

.page-enter-active {
  transition: opacity .6s ease;
}
.page-leave-active {
  transition: opacity .1s ease;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

body{
  background: #000;
  color: #FFF;
  &.noScroll{
    overflow: hidden;
  }
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content{
  flex: 1 0 auto;
  width: 100%;
  padding: rem(0 50px);
}
html {
  font-family: 'montserratregular'
  font-size: 16px;
  word-spacing: rem(1px);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @media(min-width 2500px){
    font-size: 26px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

// fonts
@font-face {
    font-family: 'montserratbold';
    src: url('~static/fonts/Montserrat/montserrat-bold-webfont.eot');
    src: url('~static/fonts/Montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('~static/fonts/Montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('~static/fonts/Montserrat/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('~static/fonts/Montserrat/montserrat-light-webfont.eot');
    src: url('~static/fonts/Montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('~static/fonts/Montserrat/montserrat-light-webfont.woff') format('woff'),
         url('~static/fonts/Montserrat/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('~static/fonts/Montserrat/montserrat-medium-webfont.eot');
    src: url('~static/fonts/Montserrat/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('~static/fonts/Montserrat/montserrat-medium-webfont.woff') format('woff'),
         url('~static/fonts/Montserrat/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('~static/fonts/Montserrat/montserrat-regular-webfont.eot');
    src: url('~static/fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('~static/fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('~static/fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('~static/fonts/Montserrat/montserrat-semibold-webfont.eot');
    src: url('~static/fonts/Montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('~static/fonts/Montserrat/montserrat-semibold-webfont.woff') format('woff'),
         url('~static/fonts/Montserrat/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yeseva_oneregular';
    src: url('~static/fonts/yeseva/yesevaone-regular-webfont.eot');
    src: url('~static/fonts/yeseva/yesevaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('~static/fonts/yeseva/yesevaone-regular-webfont.woff2') format('woff2'),
         url('~static/fonts/yeseva/yesevaone-regular-webfont.woff') format('woff'),
         url('~static/fonts/yeseva/yesevaone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// buttons
.btn
  display inline-block
  text-decoration: none
  color #ffffff
  height: rem(48px)
  font-size: rem(16px)
  line-height: rem(48px)
  cursor pointer
  padding: rem(0 47px)
  border-radius: rem(24px)
  border: solid rem(1px) #ffffff
  outline: none
  transition: all 0.3s ease
  &:hover
    background: rgba(255, 255, 255, 0.05)
    border-color: #e19d45
    color #e19d45


// carousel styles
.project
  &__prev,
  &__next
      position: absolute
      // top calc(50% - 40px)
      top rem(220px)
      width: rem(50px)
      height: rem(80px)
      z-index: 10
      cursor: pointer
      background-position: center
      background-repeat: no-repeat
      outline none
      transition transform .2s ease
  &__prev
      background-image: url('~/static/img/prev-btn.svg')
      left: rem(10px)
      right: auto
      &:hover
          transform: translateX(rem(-5px))
  &__next
      background-image: url('~/static/img/next-btn.svg')
      right: 10px
      left: auto
      &:hover
          transform: translateX(rem(5px))
  .project__pagination
    border-bottom rem(1px) solid rgba(255, 255, 255, .1)
    position: absolute
    text-align: center
    transition: 300ms opacity
    transform: translate3d(0, 0, 0)
    z-index: 10
    bottom: 0
    left: 0
    width: 100%
    padding: 0
    list-style none
    display: flex!important
    align-items: flex-end
    justify-content: center
    @media(max-width 768px)
      display: none!important
    li
      display inline-block
      button
        width: rem(1px)
        height rem(50px)
        max-height: rem(25px)
        display: inline-block
        border-radius: 0
        border 0
        background: transparent
        opacity: 0.5
        margin rem(0 70px 0 0)
        padding: rem(0 10px)
        cursor pointer
        outline: none
        position: relative
        bottom: rem(-5px)
        overflow: hidden
        text-indent: rem(99px)
        transition: all .3s ease
        &:before
          content: ''
          position: absolute
          top 0
          left 50%
          width rem(1px)
          height 100%
          background: #ffffff

      &:last-child
        button
          margin 0
    li.slick-active
      button
        max-height rem(50px)
        opacity 1
        width: rem(2px)

// for team page
.teamSlide
  .slick-center
    text-align: center